/*  general*/
body{
  margin: 0
}
.flex-row{
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
/*  general*/

/*github config css start*/
.github-config-container{
  display: flex;
  flex-direction: column;
}

.github-config-container form{
  width: 100%;
  margin-top: 20px;
}
.warning{
  color: red;
}

.info {
    box-shadow: 5px 10px 20px green inset;
    padding: 27px;
}

/*github config css end*/
/* header */
.nav-container a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-container{
  display: grid ;
  grid-template-columns: repeat(2, 1fr);
}

.box-2{
  display: flex;
  justify-content: flex-end;;
}
.box-1 a {
    margin-right: 30px;
}
.main-menu li{
  margin-right: 30px !important;
}

.nav-container{
  background: blue;
  padding: 30px;
}

/* header */

/*  content */

.content-container {
    margin: 20px;
    display: flex;
    justify-content: center;
}
.homecontainer {
    width: 100%;
}

.homecontainer hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* content */

/* form */
.buttons{
  display: flex;
  justify-content: center;
}
.buttons input{
  padding: 20px;
  text-align: center;
  background: blue;
  color: white;
  font-size: 18px;
  border: none;
  margin-right: 20px;
}
form input {
    padding: 15px;
    margin-top: 20px;
}
.ql-toolbar {
    margin: 0;
}
form {
  display: flex;
  flex-direction: column;
  width: 90%;
}
form * {
    margin-bottom: 20px;
    font-size: 16px;
}

/* form */

/*show ls content*/
.ls-content{
  align-items: center;
  text-align: center;

}

.postli {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

/*show ls content end*/
