{% extends 'base.html'%}

{% block head %}
<link rel="stylesheet" href="/static/highlight/styles/github.css">
<script src="/static/highlight/highlight.js"></script>
<script src="/static/utils/turndown.js"></script>
<link href="/static/quill/quill.snow.css" rel="stylesheet">
<script src="/static/quill/quill.js"></script>
<script src="/static/utils/image-resize.js"></script>
{% endblock%}

{% block content %}
    <form action="" id= 'createform' method="post">
      {%if error %}
         <h2 style="color:red">Reupload: <br/>{{status}}</h2>
      {% endif %}
    {{ form.hidden_tag() }}
    <label>
      Enter title
    </label>
    {{form.title}}
    <br/>
    <label>
      Enter category
    </label>
    {{form.category}}
    <br/>
    {{form.description}}
    <label>Enter content</label>
    <div id="editor"></div>
    <div class="buttons">
    {{form.publish}}
    {{form.draft}}
    </div>
    </form>
{% endblock %}

{% block script %}
<script>
    var toolbarOptions = [
          ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
          ['blockquote', 'code-block'],
           ['link', 'image'],

          [{ 'header': 1 }, { 'header': 2 }],               // custom button values
          [{ 'list': 'ordered'}, { 'list': 'bullet' }],
          [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
          [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
          [{ 'direction': 'rtl' }],                         // text direction

          [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

          [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
          [{ 'font': [] }],
          [{ 'align': [] }],

          ['clean']                                         // remove formatting button
        ];
    let quill = new Quill('#editor', {
      theme: 'snow',
      modules: {
        syntax: true,
        toolbar:toolbarOptions,
        imageResize: {
           displaySize: true
         }
       },
    });

    const imageHandler = () => {
        const input = document.createElement('input');
        input.setAttribute('type', 'file');
        input.setAttribute('accept', 'image/*');
        input.click();
        input.onchange = async () => {
       const file = input.files[0];
       const formData = new FormData();

       formData.append('image', file);

       // Save current cursor state
       const range = quill.getSelection(true);

       // Insert temporary loading placeholder image
       quill.insertEmbed(range.index, 'image', `${ window.location.origin }/images/loaders/placeholder.gif`);

       // Move cursor to right side of image (easier to continue typing)
       quill.setSelection(range.index + 1);

       const res = await fetch('/uploads', {
         method: 'POST',
         body: formData
       })
       .then((response) => response.json())
       .catch((error) =>{
         return error
       }); // API post, returns image location as string e.g. 'http://www.example.com/images/foo.png'

       // Remove placeholder image
       quill.deleteText(range.index, 1);

       // Insert uploaded image
       quill.insertEmbed(range.index, 'image', res.data);
     }
    }
    const toolbar = quill.getModule('toolbar')
    toolbar.addHandler('image', imageHandler)

    let description = document.getElementById('description')

    document.getElementById('createform').addEventListener('submit', sendDescription)

    function sendDescription(){

          const description_data = quill.root.innerHTML
          description.value = description_data
          // html to markdown converter
          const ts = new TurndownService()
          ts.addRule('code', {
          filter: ['pre'],
          replacement: function (content) {
            return '```\n' + content + '```'
            }
          })
          ts.addRule('italicChange',{
            filter: ['em'],
            replacement: function (content) {
              return '*' + content + '*'
            }
          })
          ts.addRule('h1Change',{
            filter: ['h1'],
            replacement: function (content) {
              return '#' + content
            }
          })
          ts.addRule('h2Change',{
              filter: ['h2'],
              replacement: function (content) {
                return '##' + content
              }
           })
          ts.addRule('h3Change',{
               filter: ['h3'],
               replacement: function (content) {
                 return '###' + content
               }
          })
          ts.addRule('h4Change',{
               filter: ['h4'],
               replacement: function (content) {
                 return '####' + content
               }
          })
          ts.addRule('h5Change',{
               filter: ['h5'],
               replacement: function (content) {
                 return '#####' + content
               }
          })
          ts.addRule('h6Change',{
               filter: ['h6'],
               replacement: function (content) {
                 return '######' + content
               }
          })
          const description_md = ts.turndown(description_data)
          description.value = description_md
        }

</script>
{% endblock %}
